<!DOCTYPE html>
<!-- Toda la pagina va entre dos etiquetas html -->
<html lang="en">
<head>
    <!-- El head define los metadatos, es una descripcion de la pagina en general -->
    <meta charset="UTF-8">                                  <!-- Codificacion parar representar caracteres -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   <!-- Que sea compatible con Edge -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">      <!-- Be responsive, que se adapte al tamaño de la pantalla del dispositivo -->
    <title>Document</title>
</head>
<body>
    <h1><FONT COLOR="RED">Hola Roge estas en un archivo<FONT COLOR="RED"></h1>    
    <img src="images/concha.jpg">
</body>
</html>
